/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Source Sans Pro';
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* end reset */
.desktop-div {
  display: flex;
  width: 90%;
  margin: auto;
  background-color: #1d2124;
  color: #FFFFFF;
}
.button {
  background-color: #45E1C5;
  font-weight: bold;
  padding: 1% 7%;
  border-radius: 60px;
  color: #1d2124;
  text-decoration: none;
  font-size: 2.4rem;
}
.button:hover {
  color: #E2e2e2;
}
@media (min-width: 500px) {
  #menu {
    display: none;
  }
}
body {
  background-color: #1d2124;
}
.content {
  padding-top: 5%;
  padding-bottom: 5%;
  width: 80%;
  max-width: 1080px;
  display: flex;
  width: 90%;
  margin: auto;
  background-color: #1d2124;
  color: #FFFFFF;
}
@media (max-width:500px) {
  .content {
    width: 100%;
    padding-top: 10vh;
  }
}
.product {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.product img {
  max-height: 667px;
}
@media (max-width:500px) {
  .product img {
    width: 100%;
  }
}
.product a {
  display: flex;
  width: 50%;
  margin: auto;
  justify-content: center;
}
@media (max-width:500px) {
  .product a {
    width: 80%;
  }
}
.product p {
  width: 75%;
}
@media (max-width:500px) {
  .product p {
    width: 100%;
  }
}
.product div {
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 50%;
  justify-content: flex-start;
}
@media (max-width:500px) {
  .product div {
    width: 80%;
  }
}
.product div .logo {
  margin-bottom: 3%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.product div .logo img {
  height: 2.4rem;
  padding: 2%;
}
.product div h1 {
  color: #45E1C5;
  margin: auto;
  padding: 2%;
}
@media (max-width:500px) {
  .product div h1 {
    font-size: 3.6rem;
    padding-top: 0.5em;
  }
}
.product div p {
  margin: auto;
  text-align: center;
}
@media (max-width:500px) {
  .product div p {
    text-align: center;
  }
}
.product div a {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-top: 4%;
  padding: 2.5%;
}
@media (max-width: 500px) {
  .product div a {
    width: 75%;
    margin-bottom: 3%;
    font-size: 2rem;
    padding: 3%;
  }
}
@media (max-width: 500px) {
  .product {
    max-width: 450px;
    width: 100%;
    flex-direction: column-reverse;
  }
}
footer {
  display: none;
}
nav {
  display: flex;
  width: 90%;
  margin: auto;
  background-color: #1d2124;
  color: #FFFFFF;
  max-width: 1080px;
  justify-content: space-between;
  font-size: 1.6rem;
  align-content: center;
  padding-bottom: 0.4rem;
  padding-top: 0.4rem;
  border-bottom: dotted #E2e2e2 0.2rem;
}
@media (max-width:500px) {
  nav {
    flex-direction: column-reverse;
  }
}
nav div {
  width: 30%;
}
@media (max-width:500px) {
  nav div {
    width: 100%;
    text-align: center;
    margin-top: 10%;
  }
}
nav div .button {
  padding: 3%;
  font-weight: bold;
}
@media (max-width:500px) {
  nav div .button {
    width: 80%;
    padding: 1% 5%;
  }
}
@media (max-width:500px) {
  nav div {
    align-self: center;
    padding-top: 4%;
    padding-bottom: 15px;
  }
}
nav img {
  padding: 1% 0;
  padding-top: 0;
  vertical-align: middle;
  height: 1.5rem;
  text-align: center;
}
nav a {
  padding: 1% 0;
  text-align: center;
  text-decoration: none;
  align-content: center;
}
nav a:hover {
  color: #E2e2e2;
}
nav a .signup {
  font-size: 1.2rem;
}
nav a .button {
  padding: 1% 0;
  margin: 1%;
  width: 85%;
}
@media (max-width: 500px) {
  nav {
    justify-content: space-evenly;
    padding-top: 5%;
  }
  nav .desktopOnly {
    display: none;
  }
}
.person-container {
  max-width: 1080px;
  display: flex;
  width: 90%;
  margin: auto;
  background-color: #1d2124;
  color: #FFFFFF;
  justify-content: space-evenly;
  height: 75vh;
  flex-wrap: wrap;
}
.person-container .person {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: space-between;
  margin-bottom: 5%;
  align-content: center;
  margin-top: 3%;
}
@media (max-width:500px) {
  .person-container .person {
    width: 100%;
  }
}
.person-container .person h2 {
  padding: 2%;
  padding-bottom: 5%;
  color: #E2e2e2;
  text-align: center;
}
.person-container .person h3 {
  padding: 0.3rem;
  color: #cccccc;
}
.person-container .person p {
  padding-bottom: 8%;
  padding: 2%;
}
.person-container .person a {
  display: flex;
  justify-content: center;
  background-color: #45E1C5;
  font-weight: bold;
  padding: 1% 7%;
  border-radius: 60px;
  color: #1d2124;
  text-decoration: none;
  font-size: 2.4rem;
  padding: 3% 10%;
  margin: 3%;
}
.person-container .person a:hover {
  color: #E2e2e2;
}
.person-container .person img {
  width: 100%;
}
@media (max-width: 500px) {
  .person-container .person img {
    width: 80%;
    margin: auto;
  }
}
@media (max-width: 500px) {
  .person-container .person {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .person-container {
    width: 100%;
    padding-top: 10vh;
  }
}
content div {
  display: flex;
  width: 90%;
  margin: auto;
  flex-direction: column;
  color: #FFFFFF;
  align-content: center;
  text-align: center;
  background: #1d2124;
}
@media (max-width:500px) {
  content div {
    width: 100%;
    padding-top: 15vh;
  }
}
content div h2 {
  color: #45E1C5;
  padding: 1%;
}
@media (max-width:500px) {
  content div h2 {
    padding-bottom: 0.5rem;
  }
}
content div h3 {
  color: #c9e8a2;
}
content div li {
  padding: 1%;
  font-style: italic;
}
@media (max-width:500px) {
  .coming-soon {
    padding-top: 5%;
  }
}
body {
  background: #1d2124;
}
@media (max-width:500px) {
  input#menu {
    display: none;
  }
  .icon {
    background: #1d2124;
    cursor: pointer;
    display: block;
    height: 24px;
    padding: 16px;
    width: 24px;
  }
  label.icon {
    position: fixed;
    z-index: 200;
  }
  .icon .menu,
  .icon .menu::before,
  .icon .menu::after {
    background: #E2e2e2;
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    transition: background ease 0.3s, top ease 0.3s 0.3s, transform ease 0.3s;
    width: 20px;
  }
  .icon:hover .menu,
  .icon:hover .menu::before,
  .icon:hover .menu::after {
    background: #47B74B;
  }
  .icon .menu {
    left: 18px;
    top: 27px;
  }
  .icon .menu::before {
    top: -6px;
  }
  .icon .menu::after {
    top: 6px;
  }
  #menu:checked + .icon .menu {
    background: transparent;
  }
  #menu:checked + .icon .menu::before {
    transform: rotate(45deg);
  }
  #menu:checked + .icon .menu::after {
    transform: rotate(-45deg);
  }
  #menu:checked + .icon .menu::before,
  #menu:checked + .icon .menu::after {
    top: 0;
    transition: top ease 0.3s, transform ease 0.3s 0.3s;
  }
  nav {
    background: #1d2124;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 10px;
    width: 100%;
    padding-top: 60px;
    position: fixed;
    transition: height ease 0.6s;
    z-index: 100;
    overflow: hidden;
  }
  /*when menu selected, change the height of nav to 40vh*/
  #menu:checked ~ nav {
    height: 40vh;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav li {
    cursor: pointer;
    display: block;
    line-height: 60px;
    padding-left: 16px;
    white-space: nowrap;
  }
  nav i {
    color: #1d2124;
    margin-right: 24px;
    vertical-align: text-bottom;
  }
}
a {
  color: #c9e8a2;
  font-size: 2.4rem;
  font-weight: bold;
}
h1 {
  font-size: 4.8rem;
}
h2 {
  font-size: 3.6rem;
  font-weight: bold;
}
h3 {
  font-size: 3rem;
  font-weight: bold;
}
p,
li {
  font-size: 1.8rem;
}
.takeout {
  display: none;
}
.bluelink {
  color: #45E1C5;
}
@media (max-width:500px) {
  .bluelink {
    margin-top: 10%;
    margin-bottom: 5%;
  }
}
