.desktop-div {
  display: flex;
  width: 90%;
  margin: auto;
  background-color: #1d2124;
  color: #FFFFFF;
}
.button {
  background-color: #3fbca6;
  font-weight: bold;
  padding: 1% 7%;
  border-radius: 60px;
  color: #1d2124;
  text-decoration: none;
}
body {
  background-color: #1d2124;
}
.content {
  padding-top: 5%;
  padding-bottom: 5%;
  width: 80%;
  max-width: 1080px;
  display: flex;
  width: 90%;
  margin: auto;
  background-color: #1d2124;
  color: #FFFFFF;
}
.product {
  display: flex;
  flex-direction: row;
}
.product p {
  width: 50%;
}
.product div {
  display: flex;
  margin: auto;
  flex-direction: column;
}
.product div p {
  margin: auto;
}
.product div a {
  width: 30%;
  margin: auto;
  text-align: center;
  margin-top: 4%;
  font-size: 1.4rem;
}
footer {
  display: none;
}
nav {
  display: flex;
  width: 90%;
  margin: auto;
  background-color: #1d2124;
  color: #FFFFFF;
  justify-content: space-evenly;
}
* {
  font-family: 'Source Sans Pro';
}
a {
  color: #c9e8a2;
}
