.person-container{
    max-width: 1080px;
    .desktop-div();
    justify-content: space-evenly;
    .person{
        width:25%;
        justify-content: center;
        align-content: center;
        h2{
            font-size:2.4rem;
        }
        p{
            font-size:1.4rem;
            padding-bottom:5%;
        }
        a{
            .button();
            padding:2%;
        }
        img{
            width:100%;
        }
    }
    margin-top:3%;

}