.content{
    margin:auto;
    width:80%;
    max-width:1080px;
    .desktop-div();
}
.product {
    display:flex;
    flex-direction:row;
    img{
        width:50%;
    }
    p{
        width:50%;
    }
}