content div{
    display:flex;
    width:90%;
    margin:auto;
    flex-direction:column;
    color:@text;
    align-content: center;
    text-align: center;
    background:@background;
    @media(@mobile){
        width:100%;
        padding-top:15vh;
    }
    h2{
        color:@button;
        // font-size:2rem;
        padding:1%;
        @media(@mobile){
            // font-size:1.6rem;
            padding-bottom:.5rem;
        }
    }
    h3{
        color:@links;
        // font-size: 1.5rem;
    }
    li{
    //    font-size: 1.4rem;
       padding:1%;
       font-style:italic;
      
    }
}

.coming-soon{
    @media(@mobile){
        padding-top:5%;
    }
}
body{
    background: @background;
}